* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
:root {
  --primary-color: #ffa323;
  --secondary-color: #f41f31;
  --white-color: #fff;
  --black-color: #0a0a0a;
  --bg-gray-color:#f5f5f5;
  /* text color */
  --text-primary: #ffa323;
  --text-secondary: #f41f31;
  --text-white: #fff;
  --text-black: #0a0a0a;
  --text-color: #545454;
  --text-gray: #aba8b0;
  --text-gray-light: #484848;
  /* font family */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Nunito Sans", sans-serif;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  color: var(--text-primary);
}
ul {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
}
::-webkit-scrollbar {
  width: 0.425rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
h1 {
  font-size: 3.5714rem;
  font-weight: 800;
  margin-bottom: 2rem;
  color: var(--text-white);
  text-transform: capitalize;
}

h2 {
  font-size: 2.8571rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--text-black);
  text-transform: capitalize;
}
h3 {
  font-size: 1.8571rem;
  font-weight: 700;
  line-height: 1.3rem;
  color: var(--text-black);
  text-transform: capitalize;
}
h4 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: var(--text-gray);
  max-width: 75%;
}
p {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 0;
  font-family: var(--secondary-font);
}
span {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--secondary-font);
  color: var(--text-primary);
  margin-bottom: 1.04714rem;
  position: relative;
}
span::after {
  position: absolute;
  left: 0;
  bottom: -0.1429rem;
  content: "";
  background: var(--secondary-color);
  width: 2rem;
  height: 0.1429rem;
}
.main-btn {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.8571rem;
  font-weight: 400;
  border-radius: 0.3571rem;
  padding: 0.7143rem 1.4286rem;
  text-align: center;
  border: 0.1429rem solid transparent;
  position: relative;
  z-index: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.style-1 {
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.style-1::after {
  top: -0.1429rem;
  left: -0.1429rem;
  width: calc(100% + 0.2857rem);
  height: 0;
  background: var(--primary-color);
  border-radius: 0.3571rem;
}
.main-btn:hover:after {
  visibility: visible;
  opacity: 1;
}
.style-1:hover::after {
  height: calc(100% + 0.2857rem);
}
.wrapper {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
/* header */
.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.header-top .container {
  border-bottom: 0.0714rem dashed var(--text-gray-light);
  padding: 1rem 0;
}
.header-top .contact-item {
  display: flex;
  align-items: center;
  margin-right: 0.625rem;
}
.header-top .contact-item i {
  font-size: 1.2857rem;
  color: var(--text-primary);
  margin-right: 0.5714rem;
}

.header-top .contact-item p,
.header-top .contact-item a {
  color: var(--text-white);
}
.navigation-wrap .navbar-brand img {
  width: 9rem;
}
.navigation-wrap .nav-item {
  padding: 0 0.652rem;
  transition: all 200ms linear;
}
.navigation-wrap li {
  list-style: none;
}
.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}

.navigation-wrap .nav-link {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--text-white);
  letter-spacing: 0.0625rem;
}
.navigation-wrap .nav-link:hover {
  color: var(--text-primary);
}

/* change navbar styling on scroll */
.navigation-wrap.scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--black-color);
  box-shadow: 0 0.125rem 1.75rem 0 rgba(0, 0, 0, 0.09);
  transition: all 0.15s ease-in-out 0s;
}
/* Top banner /hero section */
.top-banner {
  width: 100%;
  background: url(../images/bg/bg-1.jpg);
  background-size: cover;
  padding: 17.8571rem 0 9.3375rem;
}
.about-section p{
  text-align: justify;
}

/* SERVICE Section */
.service-section{
  width: 100%;
  height: 100%;
  background: url(../images/bg/bg-2.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
}
.service-section span::after{
  left: 50%;
  transform: translateX(-50%);
}
.service-section .service-cards{
  margin-top: 6.4286rem;
}
.service-section .card{
  padding: 5.3571rem  0.3571rem 0.7143rem;
  border-radius: 0.3571rem;
  border: 0;
  box-shadow: 0 0 1.0714rem rgba(0 ,0 ,0 ,0.1 );
  -webkit-box-shadow: 0 0 1.0714rem rgba(0 ,0 ,0 ,0.1 );
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.service-section .card img{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50% ,-50%);
  background:var(--bg-gray-color);
  border-radius: 50%;
  padding: 1.0714rem;
  width: 10.713rem;
  height: 10.7134rem;

}
.service-section .card:hover{
  background-color: var(--secondary-color);
}
.service-section .card:hover h3,
.service-section .card:hover p{
  color: var(--text-white);
}

/* Feature Seetion */
.feature-section{
  width: 100%;
  height: 100%;
  background: url(../images/bg/bg-3.jpg) no-repeat center;
  background-size: cover;
}
.feature-section span::after{
  left: 50%;
  transform: translateX(-50%);
}
.feature-section h2{
  color: var(--text-white);
}
.feature-section .card{
  box-shadow: 0 0 1.0714rem rgba(0, 0,0,0.1 );
  border: 0;
  border-radius: 0;
}
.feature-section .card .feature-img{
  overflow: hidden;
}
.feature-section .card .feature-img img{
 object-fit: cover;
 transition: 0.8s;
 -webkit-transition: 0.8s;
 overflow: hidden;
}

.feature-section .card .price{
  font-size: 1.4286rem;
  font-weight: 500;
  margin-top: 0.714rem;
  color: var(--text-black);
}

.feature-section .card .price del{
  color: var(--text-gray);
  margin-left: 0.5rem;
}
.feature-section .card:hover h3{
  color: var(--secondary-color );
}
.feature-section .card:hover .feature-img img{
  -webkit-transform: scale(1.15) rotate(5deg);
  transform: scale(1.15) rotate(5deg);
}


#Slider {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}


/* Delivery section */
.delivery-section {
  width: 100%;
  height: 100%;
  background: url(../images/bg/bg-4.jpg) no-repeat cover ;
  background: url(../images/bg/bg-4.jpg) no-repeat; 
  background-size: cover;
}

/* Download app Section */

.app-section{
  width: 100%;
  height: 100%;
  background: url(../images/bg/bg-5.jpg) no-repeat ;
  background-size: cover;
}
.app-section h2,
.app-section p{
  color: var(--text-white);
}
.app-section h4:hover{
  color: var(--text-primary);
}
.download-app-btn img{
  max-width: 189.7136px;
  width: 100%;
}

/* News letter Section */
.newsletter{
  width: 100%;
  height: 100%;
  background-image: url(../images/bg/bg-6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.newsletter span::after{
  left: 50%;
  transform: translateX(-50%);
}
.newsletter .form-group{
  position: relative;
  box-shadow: 0 0 1.0714rem rgba(0, 0, 0, 0.1);
}
.newsletter .form-group input{
  width: 100%;
height: 4.285rem;
border-radius: 0.3571rem;
background: var(--white-color);
color: var(--text-gray);
padding: 1.4286rem 0.7143rem;
border: none;
}

.newsletter .form-group input:focus{
  border: 0;
  box-shadow: none;
  outline: none;
}
.newsletter .form-group button{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  padding: 0.3571rem 1.4286rem;
  border-radius: 0 0.371rem  0.371rem 0;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter .form-group button i{
  color: var(--text-white);
  font-size: 1.5714rem;
  line-height: 0.7;
}

/* Footer section */
.footer{background: var(--black-color);}
.footer .footer-link{
  font-size: 1rem;
  color: var(--text-white);
  padding: 0 1.875rem;
}
.footer a{
  font-size: 1.5rem;
  color: var(--text-white);
  padding: 0 1rem;
}
.footer .icon:hover{
  font-size: 2.0rem;
  color: var(--text-primary);
  padding: 0 0rem;
}



